In [39]:
import numpy as np
import pandas as pd
import os 
os.getcwd()
survey = pd.read_csv("./mva/survey.csv")

In [40]:
survey.head()

   seq  sex  marriage  age  job  edu  salary
0    1    1         1   21    1    4      60
1    2    1         1   22    5    5     100
2    3    1         1   33    1    4     200
3    4    2         2   33    7    4     120
4    5    1         2   28    1    4      70

In [41]:
#list slcing
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fir']
weekdays[0]

'mon'

In [42]:
weekdays[0:3]

['mon', 'tues', 'wed']

In [28]:
weekdays[-1]

'fir'

In [29]:
weekdays[::2]

['mon', 'wed', 'fir']

In [30]:
weekdays[::-1]

['fir', 'thurs', 'wed', 'tues', 'mon']

In [32]:
## tuple
digits = (0,1,'two')

In [33]:
family={'dad':'hommer'}

In [ ]:
#if
#for
#while

In [35]:
#functions
def min_max(nums):
    return min(nums), max(nums)

min_max([1,2,3,4,5])

In [36]:
min_max([1,2,3,4,5])

(1, 5)

In [ ]:
# 클래스만들기.

In [ ]:
# 엑셀 불러오기